<div class="container my-16 flex px-10">
  <div class="col-span-3" *ngIf="images">
    <div class="grid grid-cols-2 gap-4">
      <ng-container *ngFor="let image of images; let i = index">
        <div class="relative" *ngIf="i < 2 || i >= 2">
          <img *ngIf="image.src && (i < 2 ? image.src.medium : image.src.large)"
               [src]="i < 2 ? image.src.medium : image.src.large"
               alt="City Image"
               class="w-full h-[44vh] object-cover rounded-lg object-center
">
        </div>
      </ng-container>
    </div>
  </div>

  <div class="col-span-9 w-full ml-8 bg-red-400 p-6">
    <h2 class="text-3xl font-bold">title</h2>
    <p class="mt-4 text-lg">description</p>
    <div class="mt-8">
      <a href="link" class="text-blue-500 hover:underline">Read more</a>
    </div>

  </div>
</div>
