<footer class="footer">
  <div class="section__container footer__container">
    <div class="footer__col">
      <h3>ODYSSEY<span>.</span></h3>
      <p>
        Explore your suitable and dream places around the world. Here you
        can find your right destination.
      </p>
    </div>
    <div class="footer__col">
      <h4>Support</h4>
      <p>FAQs</p>
      <p>Terms & Conditions</p>
      <p>Privacy Policy</p>
      <p>Contact Us</p>
    </div>
    <div class="footer__col">
      <h4>Address</h4>
      <p>
        <span>Address:</span> 50000 MEKNES, MOROCCO
      </p>
      <p><span>Email:</span> <a href="mailto: tarek.ouachani01@gmail.com" title="tarek.ouachani01@gmail.com"> Info.Odessey</a></p>
      <p><span>Phone:</span> +212 690329765</p>
    </div>
  </div>
  <div class="footer__bar">
    Made with ❤️ by <a href="mailto: tarek.ouachani01@gmail.com">Inahcauo</a> . Copyright © 2024. All rights reserved.
  </div>
</footer>
