<!-- reservations.component.html -->
<h2 class="text-2xl font-bold mb-4">My Reservations</h2>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
          <thead class="border-b border-neutral-200 dark:border-white/10">
          <tr>
            <th scope="col" class="px-6 py-4">#</th>
            <th scope="col" class="px-6 py-4">
              Departure Date
            </th>
            <th scope="col" class="px-6 py-4">
              Duration
            </th>
            <th scope="col" class="px-6 py-4">
              Destination
            </th>
            <th scope="col" class="px-6 py-4">
              Accommodation
            </th>
            <th scope="col" class="px-6 py-4">
              Cost
            </th>
            <th scope="col" class="px-6 py-4">
              Date Reservation
            </th>
            <th scope="col" class="px-6 py-4">
              Ticket
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reservation of reservations; let i = index" class="border-b border-neutral-200 transition duration-300 ease-in-out hover:bg-blue-50 dark:border-white/10 dark:hover:bg-neutral-600">
            <td class="whitespace-nowrap px-6 py-4 font-medium">{{ i+1 }}</td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.trip.departureDate }}
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.trip.duration }} days
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.trip.city.name }} - {{ reservation.trip.country.name }}
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.trip.accommodation.name }} <span class="text-xs">({{ reservation.trip.accommodation.type }})</span>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.trip.duration }}
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              {{ reservation.reservationDate }}
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <button (click)="downloadTicketPdf()" class="border p-2 rounded-xl text-xs hover:text-blue-600 hover:bg-indigo-200">
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.5" d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
