<section class="section__container destination__container">
  <div class="section__header">
    <div>
      <h2 class="section__title">Explore top destinations</h2>
    </div>
    <div class="destination__nav">
      <button class="destination__nav-btn text-xs">
        Design Your Dream Trip
      </button>
    </div>
  </div>

  <div class="trip-search">
    <div class="search-group">
      <label for="searchInput">Search</label>
      <input type="text" id="searchInput" placeholder="Search ...">
    </div>
    <div class="date-input">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate">
    </div>
    <div class="date-input">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate">
    </div>
    <div class="accommodation">
      <label for="filterSelect">Accommodation</label>
      <select id="filterSelect">
        <option value="all">All</option>
        <option value="hotel">Hotel</option>
        <option value="hostel">Hostel</option>
        <option value="motel">Motel</option>
      </select>
    </div>
    <button class="font-thin border-blue-500 hover:bg-blue-400 hover:text-white transition border-2 p-2 rounded-3xl flex" onclick="applyFilters()">
      <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15 10.5C15 12.9853 12.9853 15 10.5 15C8.01472 15 6 12.9853 6 10.5C6 8.01472 8.01472 6 10.5 6C12.9853 6 15 8.01472 15 10.5ZM14.1793 15.2399C13.1632 16.0297 11.8865 16.5 10.5 16.5C7.18629 16.5 4.5 13.8137 4.5 10.5C4.5 7.18629 7.18629 4.5 10.5 4.5C13.8137 4.5 16.5 7.18629 16.5 10.5C16.5 11.8865 16.0297 13.1632 15.2399 14.1792L20.0304 18.9697L18.9697 20.0303L14.1793 15.2399Z" fill="#3276c3"></path> </g></svg>Search
    </button>
  </div>


  <div class="carte" *ngFor="let trip of trips">
    <div class="partie-droite">
      <img class="image-card" src="assets/destination-1.jpg" alt="Image de la destination">
    </div>
    <div class="partie-centre">
      <a class="text-2xl" [routerLink]="['/trip-details', trip.id]">{{ trip.title }}</a>
      <div class="partie-description mt-2">
        <p>{{ trip.description }}</p>
      </div>
      <ul class="ul-partie">
        <li>7D/6N</li>
        <li>pax: {{ trip.seats }}</li>
        <li>{{ trip.city }}, {{ trip.country }}</li>
      </ul>
    </div>
    <div class="partie-gauche">
      <i class="top left"></i>
      <i class="top right"></i>
      <i class="rightdotted"></i>
      <div class="rating-card">4.5 ★ <span>(25 reviews)</span></div>
      <h2>{{ trip.cost }} DH</h2>
      <div class="per-person">/per person</div>
      <button>Réserver</button>
    </div>
  </div>

</section>

